/*
Main Color: 004e88
Service Background Color: c2b7d5
Cancel Button Ripple: ffc250
Admin Service Background: cdcdff
Emergency Button: 574100
 */

/* Nodes that need their colors changed*/
.emergencyButton {
  -fx-background-color: #574100;
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite;
  -fx-pref-height: 50;
  -fx-pref-width: 150;
}

#welcomeBar {
  -fx-background-color: #004e88;
}

.mainButton {
  -fx-font-size: 32;
  -fx-background-color: #004e88;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.topBar {
  -fx-background-color: #004e88;
  -fx-font-size: 32;
  -fx-text-fill: floralwhite;
}

.pathModeButton:hover {
  -fx-background-color: derive(#004e88, 110%);
}

.buildingButton:hover {
  -fx-background-color: derive(#004e88, 110%);
}

.floorButton:hover {
  -fx-background-color: derive(#004e88, 110%);
}

.submitButton {
  -fx-background-color: #004e88;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.cancelButton .jfx-rippler {
  /*red ripple*/
  -jfx-rippler-fill: #ffc250;
}

.serviceBase {
  -fx-background-color: derive(#c2b7d5, 70%);
  -fx-padding: 16;
}

.mapPane {
  -fx-background-color: derive(#c2b7d5, 70%);
}

.adminBackground {
  -fx-background-color: #cdcdff;
}

.adminLabel {
  -fx-text-fill: black;
}

/* Constant Nodes */
.mainBackground {
  -fx-background-image: url('/BWFHBackground.jpg');
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-font-size: 16;
}

.main_secondaryButtons {
  -fx-background-color: whitesmoke;
  -fx-background-radius: 24;
  -fx-padding: 12 16;
}

#controllerTitle {
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite
}

/*Floor Buttons*/
.buildingButton {
  -fx-background-color: lightgrey;
  -fx-background-radius: 30;
}

.floorButton {
  -fx-background-color: lightgray;
  -fx-background-radius: 30;
}

/* Service Requests */
.buttonBox {
  -fx-alignment: center;
  -fx-spacing: 16;
  -fx-padding: 8;
}

.cancelButton {
  -fx-background-color: gray;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.serviceBox {
  -fx-padding: 8;
  -fx-font-size: 16;
}

.serviceFields {
  -jfx-label-float: true;
  -fx-background-color: floralwhite;
  -fx-padding: 8;
}

/* Pathfinding Buttons*/
.pathModeButton {
  -fx-background-radius: 30;
  -fx-background-color: floralwhite;

  -fx-border-radius: 30;
  -fx-border-color: black;
  -fx-border-width: 1.5;
}

/* Emergency Report*/
.radio-button .radio {
  -fx-opacity: 0;
  -fx-background-color: lawngreen;
}

.radio-button:hover {
  -fx-background-color: lawngreen;
}

.radio-button {

  -fx-border-color: BLACK;
  -fx-pref-height: 55.0;
  -fx-pref-width: 176.0;
  -fx-text-alignment: CENTER;
  -fx-font-weight: BOLD;
  -fx-text-fill: WHITE;
  -fx-border-color: BLACK;
}

#adminButton {
  -fx-background-color: cornflowerblue;
}

#codePink {
  -fx-background-color: #d4bbc0;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeWhite {
  -fx-background-color: white;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeGray {
  -fx-background-color: gray;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeRed {
  -fx-background-color: #574100;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeOrange {
  -fx-background-color: #cf9a00;
  -fx-border-color: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeYellow {
  -fx-background-color: #ffbf32;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeBlue {
  -fx-background-color: #00568e;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeBlack {
  -fx-background-color: Black;
  -fx-border-color: white;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codePurple {
  -fx-background-color: #2d4e7e;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeGreen {
  -fx-background-color: #8a6823;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}