.mainBackground {
  -fx-background-image: url('/BWFHBackground.jpg');
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-font-size: 16;
}

#welcomeBar {
  -mainColor: #004c8c;

  -fx-background-color: -mainColor;
}

/* NavigationBar */
#controllerTitle {
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite
}

/* Street View */
#streetToFaulknerButton {
}

#streetToMainCampusButton {
}

#buttonContainer {
}

/* styleClasses */
.mainButton {
  -fx-font-size: 32;
  -fx-background-color: #004c8c;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.main_secondaryButtons {
  -fx-background-color: whitesmoke;
  -fx-background-radius: 24;
  -fx-padding: 12 16;
}

.topBar {
  -fx-background-color: #004c8c;
  -fx-font-size: 32;
  -fx-text-fill: floralwhite;
}

.buildingButton {
  -fx-background-color: lightgrey;
  -fx-background-radius: 30;
}

.floorButton {
  -fx-background-color: lightgray;
  -fx-background-radius: 30;
}

/* Service Requests */
.submitButton {
  -fx-background-color: #004c8c;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.cancelButton {
  -fx-background-color: gray;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.cancelButton .jfx-rippler {
  /*red ripple*/
  -jfx-rippler-fill: #b90c0c;
}

.serviceBase {
  /*#58A5F0*/
  -fx-background-color: derive(#abc0d4, 70%);
  -fx-padding: 16;
}

.serviceBox {
  -fx-padding: 8;
  -fx-font-size: 16;
}

.serviceFields {
  -jfx-label-float: true;
  -fx-background-color: floralwhite;
  -fx-padding: 8;
}