/* Nodes that need their colors changed*/
#welcomeBar {
  -fx-background-color: #004c8c;
}

.mainButton {
  -fx-font-size: 32;
  -fx-background-color: #004c8c;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.topBar {
  -fx-background-color: #004c8c;
  -fx-font-size: 32;
  -fx-text-fill: floralwhite;
}

.pathModeButton:hover {
  -fx-background-color: derive(#004c8c, 110%);
}

.buildingButton:hover {
  -fx-background-color: derive(#004c8c, 110%);
}

.floorButton:hover {
  -fx-background-color: derive(#004c8c, 110%);
}

.serviceBase {
  -fx-background-color: derive(#abc0d4, 70%);
  -fx-padding: 16;
}

.mapPane {
  -fx-background-color: derive(#abc0d4, 70%);
}

/* Constant Nodes */
.mainBackground {
  -fx-background-image: url('/BWFHBackground.jpg');
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-font-size: 16;
}

.main_secondaryButtons {
  -fx-background-color: whitesmoke;
  -fx-background-radius: 24;
  -fx-padding: 12 16;
}

#controllerTitle {
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite
}

/*Floor Buttons*/
.buildingButton {
  -fx-background-color: lightgrey;
  -fx-background-radius: 30;
}

.floorButton {
  -fx-background-color: lightgray;
  -fx-background-radius: 30;
}

/* Service Requests */
.buttonBox {
  -fx-alignment: center;
  -fx-spacing: 16;
  -fx-padding: 8;
}

.submitButton {
  -fx-background-color: #004c8c;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.cancelButton {
  -fx-background-color: gray;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.cancelButton .jfx-rippler {
  /*red ripple*/
  -jfx-rippler-fill: #b90c0c;
}


.serviceBox {
  -fx-padding: 8;
  -fx-font-size: 16;
}

.serviceFields {
  -jfx-label-float: true;
  -fx-background-color: floralwhite;
  -fx-padding: 8;
}

/* Pathfinding Buttons*/
.pathModeButton {
  -fx-background-radius: 30;
  -fx-background-color: floralwhite;

  -fx-border-radius: 30;
  -fx-border-color: black;
  -fx-border-width: 1.5;
}
