/* Nodes that need their colors changed*/
/*
Main Color: 00555a
Service Background Color: a9bfce
Cancel Button Ripple: b8150f
Admin Service Background: a5d9ea
Emergency Button: 890c00
 */

/* Nodes that need their colors changed*/
.emergencyButton {
  -fx-background-color: #890c00;
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite;
  -fx-pref-height: 50;
  -fx-pref-width: 150;
}

#welcomeBar {
  -fx-background-color: #00555a;
}

.mainButton {
  -fx-font-size: 32;
  -fx-background-color: #00555a;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
}

.topBar {
  -fx-background-color: #00555a;
  -fx-font-size: 32;
  -fx-text-fill: floralwhite;
}

.pathModeButton:hover {
  -fx-background-color: derive(#00555a, 110%);
}

.buildingButton:hover {
  -fx-background-color: derive(#00555a, 110%);
}

.floorButton:hover {
  -fx-background-color: derive(#00555a, 110%);
}

.submitButton {
  -fx-background-color: #00555a;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.cancelButton .jfx-rippler {
  /*red ripple*/
  -jfx-rippler-fill: #b8150f;
}

.serviceBase {
  -fx-background-color: derive(#a9bfce, 70%);
  -fx-padding: 16;
}

.mapPane {
  -fx-background-color: derive(#a9bfce, 70%);
}

.adminBackground {
  -fx-background-color: #a5d9ea;
}

/* Constant Nodes */
.mainBackground {
  -fx-background-image: url('/BWFHBackground.jpg');
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-font-size: 16;
}

.main_secondaryButtons {
  -fx-background-color: whitesmoke;
  -fx-background-radius: 24;
  -fx-padding: 12 16;
}

#controllerTitle {
  -fx-font-size: 24px;
  -fx-text-fill: floralwhite
}

/*Floor Buttons*/
.buildingButton {
  -fx-background-color: lightgrey;
  -fx-background-radius: 30;
}

.floorButton {
  -fx-background-color: lightgray;
  -fx-background-radius: 30;
}

/* Service Requests */
.buttonBox {
  -fx-alignment: center;
  -fx-spacing: 16;
  -fx-padding: 8;
}

.cancelButton {
  -fx-background-color: gray;
  -fx-text-fill: floralwhite;
  -fx-padding: 16;
  -fx-background-radius: 16;
  -fx-font-size: 16px;
  -fx-pref-height: 50;
  -fx-pref-width: 100;
}

.serviceBox {
  -fx-padding: 8;
  -fx-font-size: 16;
}

.serviceFields {
  -jfx-label-float: true;
  -fx-background-color: floralwhite;
  -fx-padding: 8;
}

/* Pathfinding Buttons*/
.pathModeButton {
  -fx-background-radius: 30;
  -fx-background-color: floralwhite;

  -fx-border-radius: 30;
  -fx-border-color: black;
  -fx-border-width: 1.5;
}

/* Emergency Report*/
.radio-button .radio {
  -fx-opacity: 0;
  -fx-background-color: lawngreen;
}

.radio-button:hover {
  -fx-background-color: lawngreen;
}

.radio-button {

  -fx-border-color: BLACK;
  -fx-pref-height: 55.0;
  -fx-pref-width: 176.0;
  -fx-text-alignment: CENTER;
  -fx-font-weight: BOLD;
  -fx-text-fill: WHITE;
  -fx-border-color: BLACK;
}

#adminButton {
  -fx-background-color: cornflowerblue;
}

#codePink {
  -fx-background-color: #fdabb8;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeWhite {
  -fx-background-color: white;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeGray {
  -fx-background-color: gray;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeRed {
  -fx-background-color: #890c00;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeOrange {
  -fx-background-color: #ff7a81;
  -fx-border-color: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeYellow {
  -fx-background-color: #ffb6c1;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeBlue {
  -fx-background-color: #005d61;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeBlack {
  -fx-background-color: Black;
  -fx-border-color: white;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codePurple {
  -fx-background-color: #64454b;
  -fx-text-fill: WHITE;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

#codeGreen {
  -fx-background-color: #39767f;
  -fx-text-fill: BLACK;
  -fx-padding: 8;
  -fx-pref-height: 70;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}